*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #565a9e;
    height: 130px;
    text-align: center;
}

header img{
    width: 112px;
    height: 110px;
}

nav{
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 10px;

}

nav a{
    /* remover formatação do link */
    text-decoration: none;

    color: rgb(117, 45, 250);
    padding: 5px;
}

/* Quando passar o mouse sobre o link */
nav a:hover{
    color:#008394;

}