*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(221, 237, 243);
    
    /* Alinhar elementos ao lado */
    display: flex;
    /* Obtem spaçamento */
    justify-content: space-between;
    padding: 20px;
}

header img{
    width: 112px ;
    height: 110px;

}

header nav{
    display: flex;
    align-items: center;
}

nav a{
    /* remover formatação do link */
    text-decoration: none;

    color:#0b8eaf;
    padding: 5px;

    /* Texto maiúsculo */
    text-transform: uppercase;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Quando passar o mouse sobre o link */
header nav a:hover{
    color: rgb(136, 22, 241);

}